header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ECF8E5;
    position: fixed;
    z-index: 1000;
    width: 100%;
}

header>div.headerLogoName>a {
    display: flex;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    color: #347571;
}

header>div.headerLogoName>a>h1 {
    font-size: 20px;
}

header>div.headerLogoName>a>img {
    width: 50px;
}

nav>ul {
    width: 15rem;
    display: flex;
    justify-content: space-around;
}

nav>ul>a {
    text-decoration: none;
    color: #347571;
    font-weight: bold;
}

div.responsiveMenu {
    width: 5rem;
}

.menu-icon {
    display: none;
}

/* === CSS Modal === */

.modal-overlay {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalComp {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
    display: grid;
    justify-items: end;
}

.modal-close {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: bold;
}

@media (max-width: 420px) {
    header {
        position: relative;
    }

    header>div.headerLogoName>a {
        gap: 0;
    }
}

@media screen and (max-width: 320px) {
    header {
        text-align: center;
    }

    div.headerLogoName>a>h1 {
        display: none;
    }

    nav {
        display: none;
    }

    nav.show {
        display: flex;
        /* Mostrar o menu quando o botão é clicado */
    }

    nav ul {
        flex-direction: column;
        width: 0;
    }

    nav ul li {
        margin: 0.5rem 0;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
        color: #347571;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
}