header{
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(6, 6, 86);
    color: #ffa500;
}
header > div.headerLogoName{
    display: flex;
    align-items: center;
}

header > div.headerLogoName > img{
    filter: invert();
}

header > nav > ul{
    width: 15rem;
    display: flex;
    justify-content: space-around;
}
header > nav > ul > a{
    text-decoration: none;
    color: white;
}