main.appMain {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
}

/* CSS NavBar and Modal */

header {
    display: grid;
    background-color: transparent;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 15%;
}

header>div.headerLogoName>a {
    display: flex;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    color: #1fdf64;
}

header>div.headerLogoName>a>h1 {
    font-size: 20px;
}

header>div.headerLogoName>a>img {
    width: 50px;
}

nav>ul {
    width: 15rem;
    display: flex;
    justify-content: space-around;
}

nav>ul>a {
    text-decoration: none;
    color: #1fdf64;
    font-weight: bold;
}

.menu-icon {
    display: none;
}

/* === CSS Modal === */

.modal-overlay {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

div.btnModalClose {
    display: flex;
    justify-content: end;
}

.modalComp {
    background: #000;
    color: white;
    padding: 20px;
    border: solid 2px #333;
    border-radius: 8px;
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
    display: grid;
}

.modal-close {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: red;
    font-weight: bold;
    transition: color 0.5s ease-in-out;
}

.modal-close:hover {
    color: rgba(255, 0, 0, 0.816);
}

@media (max-width: 420px) {
    header>div.headerLogoName>a {
        gap: 0;
    }

    header {
        position: relative;
        text-align: center;
    }

    div.headerLogoName>a>h1 {
        display: none;
    }

    nav {
        display: none;
    }

    nav.show {
        display: flex;
        width: 5rem;
        /* Mostrar o menu quando o botão é clicado */
    }

    nav ul {
        flex-direction: column;
        width: 0;
    }

    nav ul li {
        margin: 0.5rem 0;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
        color: #347571;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
}

/* CSS Home and HomeConfig*/


section.homeSection {
    background-color: #111;
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
}

section.homeSection>div.wave>img {
    position: absolute;
    z-index: 0;
}

section.homeSection>div.homeDescript {
    position: relative;
    z-index: 990;
}

div.alignCont {
    display: grid;
    place-items: center;
}

div.subNav {
    width: 100%;
    position: relative;
    z-index: 990;
}

div.lupaSearch {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

div.lupaSearch>input {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    color: #999;
    font-weight: bold;
    background-color: #000;
    border: solid 1px #333;
    outline: none;
    text-indent: 40px;
}

div.lupa {
    display: flex;
    align-items: center;
}

div.lupaSearch>div.lupa>img {
    width: 20px;
    padding-inline: 20px;
    position: absolute;
    filter: invert(1);
}

div.addBtn>button {
    color: black;
    font-weight: bold;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    inline-size: 5rem;
    cursor: pointer;
    border: none;
    transition: all 0.5s;
}

div.addBtn>button:hover {
    background-color: #e8e8e8;
    transform: scale(1.1)
}

div.subNav>div.more>img {
    width: 30px;
}

div.boxTools {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
    max-height: 20rem;
    /* Defina a altura máxima que você deseja para o scroll */
    overflow-y: auto;
}

div.tool {
    font-weight: bold;
    background-color: #000;
    border: solid 2px #333;
    width: 20rem;
    height: 10rem;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s;
}

div.txtAlignTool {
    height: 100%;
    display: grid;
}

div.toolTittle>h2 {
    font-size: 20px;
}

div.toolTittle>p>span {
    color: white;
}

div.toolTittle>p {
    color: rgba(128, 128, 128, 0.658);
    font-size: 12px;
}

div.dateStatusTool>p {
    font-size: 12px;
}

div.toolTittle,
div.dateStatusTool {
    padding: 1rem;
}


div.tool:hover {
    transform: scale(1.1);
}

div.tool>p {
    font-weight: bold;
}

div.homeDescript>div.more {
    padding: 5px;
}

div.boxTools>a {
    text-decoration: none;
    color: black;
    display: contents;
}

div.btnSave {
    padding: 5px;
    gap: 5px;
    display: flex;
    justify-content: center;
}

div.btnSave>button {
    background-color: rgb(202, 202, 202);
    font-weight: bold;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
    inline-size: 5rem;
    cursor: pointer;
    border: none;
    transition: all 0.5s ease-in-out;
}

div.btnSave>button.deleteBtn:hover {
    color: white;
    background-color: red;
    transform: scale(1.1)
}

div.btnSave>button:hover {
    color: white;
    background-color: #1fdf64;
    transform: scale(1.1)
}

select.selectHome {
    color: #1fdf64;
    background-color: black;
    font-weight: bold;
    font-size: 15px;
    inline-size: 12rem;
    border: none;
    border-bottom: solid 2px grey;
}

.singleRequest>p {
    font-weight: bold;
    padding: 1rem;
}

.singleRequest>p>span {
    color: #1fdf64;
}

.focusDesc {
    width: 15rem;
}

.status {
    font-size: 20px;
}

.status-green {
    color: green;
}

.status-yellow {
    color: yellow;
}

.status-red {
    color: red;
}

p.status>span {
    font-size: 15px;
}

select.selectFilterPriority,
select.selectFilterPriority>option {
    color: white;
    background-color: black;
    border: solid 2px #333;
    font-weight: bold;
    margin: 1px;
}

div.filter {
    cursor: pointer;
}

div.filter>img {
    filter: invert(1);
}

div.filter>img:hover {
    transition: all 0.5s ease-in-out;
    filter: invert(0);
}

div.statusFilter {
    display: grid;
}

div.filterStatusConfig>label,
label.selectFilterPriority {
    color: #1fdf64;
}

div.filterPriorityConfig,
div.filterStatusConfig {
    font-weight: bold;
    padding: 5px;
}

div.loading-overlay {
    display: grid;
    place-items: center;
    height: 100%;
}

@media (max-width: 620px) {
    div.searchRequest {
        display: grid;
        place-items: center;
    }

    div.searchRequest {
        padding: 0;
    }
}

@media (max-width: 420px) {

    div.toolTittle>h2 {
        font-size: 18px;
    }

    div.toolTittle>p {
        font-size: 10px;
    }

    div.toolTittle,
    div.dateStatusTool {
        padding: 0;
    }

    section.homeSection {
        height: 90%;
    }

    div.tool {
        width: 10rem;
        height: 8rem;
        text-align: center;
    }

    div.tool:hover {
        transform: none;
        filter: brightness(0.5);
    }

    div.tool>h2 {
        font-size: 20px;
    }

    div.subNav {
        padding: 0;
    }

    div.boxTools {
        padding: 0;
    }
}