main.appMain {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
}

/* CSS NavBar */
header {
    display: flex;
    width: 100%;
}

nav.navSup {
    display: grid;
    background-color: transparent;
    /* position: fixed; */
    z-index: 1000;
    width: 100%;
    height: 15%;
    padding: 1rem;
}

div.headerLogoName {
    display: flex;
    align-items: center;
    gap: 1rem;
}

div.headerLogoName>a {
    text-decoration: none;
}

div.headerLogoName>div.userPerfil>h1 {
    font-size: 20px;
    color: white;
}

div.userPerfil {
    display: flex;
    align-items: center;
    gap: 1rem;
}

div.headerLogoName>a>img {
    width: 50px;
}

nav.show {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    box-shadow: inset 0 -1px #222;
}

nav.show>ul {
    display: flex;
    gap: 5rem;
    justify-content: space-around;
}

nav.show>ul>li {
    list-style: none;
}

div.noActive {
    cursor: pointer;
}

nav.show>ul>li>a,
nav.show>a {
    text-decoration: none;
    color: white;
    position: relative;
}

nav.show>ul>li>a.noActive::after,
nav.show>a::after,
nav.show>ul>li>a.active::after {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    background-color: #1fdf64;
    filter: drop-shadow(0px 0px 5px #1fdf64);
    left: 0;
    bottom: 0;
    transition: width 0.3s ease;
}

nav.show>ul>li>a.active::after {
    width: 100%;
}


nav>ul>li>a.noActive:hover::after,
nav.show>a.noActive:hover::after {
    width: 100%;
}

.menu-icon {
    display: none;
}


/* === CSS Modal === */

.modal-overlay {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

div.btnModalClose {
    display: flex;
    justify-content: end;
}

.modalComp {
    background: #000;
    color: white;
    padding: 1rem;
    border: solid 2px #333;
    border-radius: 8px;
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(1, minmax(120px, 1fr));

}

.modal-close {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: red;
    font-weight: bold;
    transition: color 0.5s ease-in-out;
}

.modal-close:hover {
    color: rgba(255, 0, 0, 0.816);
}

@media (max-width: 420px) {
    header>div.headerLogoName>a {
        gap: 0;
    }

    header {
        position: relative;
    }

    div.headerLogoName>a>h1 {
        display: none;
    }

    div.headerLogoName>a>img {
        display: none;
    }

    div.scroll {
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-padding: 0 10px;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
        color: #347571;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
}

/* CSS Home and HomeConfig*/


section.homeSection {
    background-color: #111;
    width: 100%;
    height: 100%;
}

div.wave>img {
    position: absolute;
    z-index: 0;
}

div.alignCont {
    position: absolute;
    display: grid;
    place-items: center;
    width: 100%;
}

div.subNav {
    width: 100%;
    position: relative;
    z-index: 990;
}

div.lupaSearch {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

div.lupaSearch>input {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    color: #999;
    font-weight: bold;
    background-color: #000;
    border: solid 1px #333;
    outline: none;
    text-indent: 40px;
}

div.lupa {
    display: flex;
    align-items: center;
}

div.lupaSearch>div.lupa>img {
    width: 60px;
    padding-inline: 20px;
    position: absolute;
    z-index: 10000;
}

div.addBtn>button {
    color: black;
    font-weight: bold;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    inline-size: 5rem;
    cursor: pointer;
    border: none;
    transition: all 0.5s;
}

div.addBtn>button:hover {
    background-color: #e8e8e8;
    transform: scale(1.1)
}

div.subNav>div.more>img {
    width: 30px;
}

div.boxTools {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
    gap: 10px;
    max-height: 100vh;
    /* Defina a altura máxima que você deseja para o scroll */
    overflow-y: auto;
}

div.tool {
    font-weight: bold;
    background-color: #000;
    border: solid 2px #333;
    width: 20rem;
    height: 10rem;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

div.txtAlignTool {
    height: 100%;
    display: grid;
}

div.toolTitle>h2 {
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 18rem;
}

div.toolTitle>p>span {
    color: white;
}

div.toolTitle>p {
    color: rgba(128, 128, 128, 0.658);
    font-size: 12px;
}

div.dateStatusTool>p {
    font-size: 12px;
}

div.toolTitle,
div.dateStatusTool {
    padding: 1rem;
}


div.tool:hover {
    transform: scale(1.1);
}

div.tool>p {
    font-weight: bold;
}

div.homeDescript>div.more {
    padding: 5px;
}

div.boxTools>a {
    text-decoration: none;
    color: black;
    display: contents;
}

div.btnSave {
    padding: 5px;
    gap: 5px;
    display: flex;
    justify-content: center;
}

div.btnSave>button {
    background-color: rgb(202, 202, 202);
    font-weight: bold;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
    inline-size: 5rem;
    cursor: pointer;
    border: none;
    transition: all 0.5s ease-in-out;
}

div.btnSave>button.deleteBtn:hover {
    color: white;
    background-color: red;
    transform: scale(1.1)
}

div.btnSave>button:hover {
    color: white;
    background-color: #1fdf64;
    transform: scale(1.1)
}

select.selectHome {
    color: #1fdf64;
    background-color: black;
    font-weight: bold;
    font-size: 15px;
    inline-size: 12rem;
    border: none;
    border-bottom: solid 2px grey;
}

.singleRequest>p {
    padding: 1rem;
}

.singleRequest>p>span {
    color: #1fdf64;
}

.focusDesc {
    width: 15rem;
}

.status {
    font-size: 20px;
}

.status-green {
    color: green;
}

.status-yellow {
    color: yellow;
}

.status-red {
    color: red;
}

p.status>span {
    font-size: 15px;
}

select.selectFilterPriority,
select.selectFilterPriority>option {
    color: white;
    background-color: black;
    border: solid 2px #333;
    font-weight: bold;
    margin: 1px;
}

div.filter {
    cursor: pointer;
}

div.filter>img {
    filter: invert(1);
}

div.filter>img:hover {
    transition: all 0.5s ease-in-out;
    filter: invert(0);
}

div.statusFilter {
    display: grid;
}

div.filterStatusConfig>label,
label.selectFilterPriority {
    color: #1fdf64;
}

div.filterPriorityConfig,
div.filterStatusConfig {
    font-weight: bold;
    padding: 5px;
}

div.loading-overlay {
    color: white;
    display: grid;
    place-items: center;
    height: 100%;
}

div.page {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: white;
    padding: 1rem;
    position: relative;
    z-index: 1000;
}

div.page>button {
    cursor: pointer;
    background-color: #1fdf64;
    font-weight: bold;
    border: none;
    border-radius: 50px 50px;
    padding: 12px;
    inline-size: 100px;
    transition: all 0.5s ease-in-out;
}

div.page>button:hover{
    background-color: #0e9a41;
    transform: scale(1.1);
}

@media (max-width: 620px) {
    div.searchRequest {
        display: grid;
        place-items: center;
    }

    div.searchRequest {
        padding: 0;
    }
}

@media (max-width: 420px) {
    .boxTools {
        height: 60vh;
    }

    .singleRequest>p {
        padding: 1px;
    }

    div.toolTitle>h2 {
        font-size: 15px;
        padding: 1rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 10rem;
    }

    div.toolTitle>p {
        font-size: 10px;
    }

    div.toolTitle,
    div.dateStatusTool {
        padding: 0;
    }

    section.homeSection {
        height: 90%;
    }

    div.tool {
        width: 10rem;
        text-align: center;
    }

    div.tool:hover {
        transform: none;
        filter: brightness(0.5);
    }

    div.tool>h2 {
        font-size: 20px;
    }

    div.subNav {
        padding: 0;
    }
}